:root {
    --black: #222222;
    --black2-bkg: #222224;
    --pink-bkg: #F1E4E6;
    --pink-color: #F16D7F;
    --white-color: #FFFFFF;
    --white2-color: #FBFBFB;
    --grey-color: #F8F8F8;
    --grey2-color: #9F9F9F;
    --grey3-color: #5D5D5D;
    --grey4-color: #6F6E6E;
    --grey4-bkg:  #E1E1E1;
    --red-color: #F26376;
    --red2-color: #FF6A6A;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header {
    background-color: var(--black);
    max-height: 75px;
    max-width: 1600px;
    margin: 0 auto;
}

.header__link {
    margin: 0 0 0 33px;
    border: black;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.header__logo-form-wrp {
    display: flex;
}

.header__search {
    margin: 0 0 0 41px;
    display: flex;
}

.header__search:hover,
.header__search:focus {
    outline: 2px solid white;
    border-top-left-radius: 7px;    
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 10px 6px 6px 6px;
    opacity: 0.6;
    cursor: pointer;
}

.header-2 {
    display: flex;
    align-items: baseline;
    position: relative;
}

.header__menu-btn {
    background-color: transparent;
    border: none;   
}

.header__menu-btn:hover,
.header__menu-btn:focus {
    outline: 2px solid white;
    border-top-left-radius: 7px;    
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 10px 6px 6px 6px;
    opacity: 0.6;
    cursor: pointer; 
}

.header__menu-btn:active {
    opacity: 0.7;
}

.header__menu-btn:hover +.header__nav,
.header__menu-btn:focus +.header__nav {
   display: block;
}

.header__link {
    background-color: transparent;
    border: none;
}

.header__link:hover,
.header__link:focus {
    outline: 2px solid white;
    border-top-left-radius: 7px;    
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    display: inline-block;
    padding: 6px;
    opacity: 0.6;
    cursor: pointer;
}

.header__link:active {
    opacity: 0.7;
}

.header__nav {
    margin: 17px 0 0 0;
    position: absolute;
    display: none;
    right: 0%;
}

.heade__nav:hover {
    display: block;
}

.header__nav-wrapper {
    background-color: var(--white-color);
    width: 232px;
    height: 764px;
    box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2); 
    position: absolute;
}

.header__nav-title {
    text-transform: uppercase;
    padding: 37px 143px 4px 34px;
}

.header__nav-list {
    padding: 0 73px 157px 33px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.nav-sub-item {
    display: grid;
}

.nav-sub-item__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding: 11px 0 0 0;
}

.nav-sub-item__list { 
    padding: 0 0 0 24px;
}

.link {
    color: var(--grey4-color);
}
  
.link:hover,
.link:focus {
    color: rgba(173, 192, 6, 0.932);
    cursor: pointer;
}
  
.link:active {
    color: black;
}

.link-pink {
    color: var(--pink-color);
    text-transform: uppercase;
    padding: 20px 0 12px 0;
}


.brand {
    display: flex;
    max-width: 1600px;
    margin: 0 auto
}

.brand__title-wrp {
    flex-grow: 1;
    background-color: var(--pink-bkg);
    display: flex;
    align-items: center;
    padding: 0 0 0 92px;
}

.brand__title {
    position: relative;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    display: grid;
}

.brand__title::before {
    background: var(--pink-color);
    content: '';
    width: 12px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -20px;
}

.brand__subtitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.brand__subtitle-pink {
    color: var(--pink-color);
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.sales {
    display: flex;
    justify-content: space-between;
}

.sales__list {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    padding: 64px 0 0 0;
}

.sales__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}   

.sales__item-wooman {
    background-image: url(../img/sales-wooman.png);
}

.sales__item-man {
    background-image: url(../img/sales-man.png);
}

.sales__item-kids {
    background-image: url(../img/sales-kids.png);
}

.sales__item-accesories {
    background-image: url(../img/sales-accesories.png);
    width: 100%;
    margin: 30px 0 0 0;
    min-height: 180px;
    background-repeat: no-repeat;
}

.sales__item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--white-color);
    text-transform: uppercase;
}

.sales__item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: var(--pink-color);
    text-transform: uppercase;
}

.products {
    text-align: center;
    padding: 97px 0 0 0;
}

.products__title {
    font-size: 30px;
    line-height: 36px;
    padding: 0 0 6px 0;
}

.products__subtitle {
    font-size: 14px;
    line-height: 17px;
    opacity: 0.5;
    color: var(--grey2-color)
}

.products__list {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 57px 0 0 0;
}

.products__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--grey-color);
    margin: 0 0 30px 0;
}

.products__item-wrapper {
    position: relative;
}

.products__item-overlay {
    width: 100%;
    min-height: 420px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
}

.products__list-btn {
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
}
  
.products__item-overlay,
.products__list-btn {
  display: none;
}

.products__item:hover .products__list-btn,
.products__item:hover .products__item-overlay,
.products__item:hover {
  display: block;
} 

.products__item-wrp {
    padding: 0 29px 0 17px;
    text-align: left;
}

.products__item-title {
    padding: 25px 0 13px 0;
    font-size: 13px;
    line-height: 16px;
}

.products__item-subtitle {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: var(--grey3-color);
    opacity: 0.5;
}

.products__item-price {
    padding: 18px 0 20px 0; 
    font-size: 16px;
    line-height: 19px;
    color: var(--pink-color);   
}

.products__bottom {
    margin: 32px 0 109px 0;
}

.products__bottom-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--red-color);
    border: 1px solid var(--red2-color);
    text-decoration: none;
    padding: 14px 38px;
}

.products__bottom-link:hover,
.products__bottom-link:focus {
    opacity: 0.5;
    cursor: pointer;
    background: red;
    color: white;
}
  
.products__bottom-link:active {
    opacity: 0.7;
}   

.aside {
    background: #222224;
    max-width: 1600px;
    margin: 0 auto;
}

.aside__list { 
    display: flex;
    color: var(--white2-color);
    justify-content: center;
    align-items: end;
}

.aside__item {
    align-items: center;
    text-align: center;
}

.aside__item-img {
    padding: 103px 0 25px 0;
}

.aside__item-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 0 25px 0;
}

.aside__item-subtitle {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    opacity: 0.8;
    padding: 0 0 104px 0;   
    max-width: 300px;
}

.aside__item:nth-child(2) {
    padding: 0 60px 0 60px;
}

.aside__item-img:nth-child(2) {
    padding: -50px 0 0 0;
}
 
.footer {
    background-image: url(../img/subscribe.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 1600px;
    max-height: 448px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__comments {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    text-align: center;
    padding: 86px 0 126px 0;
}

.footer__comments-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px; 
    max-width: 360px;
    padding: 32px 0 0 0;
}

.footer__comments-text-italic {
    font-style: italic;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0 156px 0;
}

.footer__contacts-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    display: grid;
    text-align: center;
    text-transform: uppercase;
    padding: 0 0 32px 0;
}

.footer__contacts-title-text{
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
}

.footer__input {
    display: flex;
}

.footer__input-email {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    color: var(--black2-bkg);
    border: none;
    background-color: var(--grey4-bkg);
    padding: 7px 0 6px 22px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    min-width: 250px;
}

.footer__input-btn {
    background: #F16D7F;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border: none;
    width: 100px;
    height: 49px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--white-color);
}   

.footer__input-btn:hover,
.footer__input-btn:focus {
    opacity: 0.7;
    cursor: pointer;
}
  
.footer__input-btn:active {
    background: red;
}   

.bottom-footer {
    display: flex;
    justify-content: space-between;
    padding: 26px 233px;
    background: var(--black2-bkg);
}

.bottom-footer__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: var(--white2-color);
}

.bottom-footer__list {
    display: flex;
}

.bottom-footer__item:nth-child(2) {
    padding: 0 7px 0 7px;
}

.bottom-footer__item:last-child {
    padding: 0 0 0 7px;
}