:root {
    --black: #222222;
    --pink-bkg: #F1E4E6;
    --pink-color: #F16D7F;
    --white-color: #FFFFFF;
    --grey-color: #F8F8F8;
    --grey2-color: #9F9F9F;
    --grey3-color: #5D5D5D;
    --red-color: #F26376;
    --red2-color: #FF6A6A;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

.header__nav {
    display: none;
}

.header {
    background-color: var(--black);
    min-height: 75px;
}

.header__link {
    text-decoration: none;
    margin: 0 0 0 33px;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-form-wrp {
    display: flex;
}

.header__search {
    margin: 0 0 0 41px;
}

.header__menu-btn {
    background-color: transparent;
    border: none;
}

.brand {
    display: flex;
    margin: 0 0 63px;
}

.brand__title-wrp {
    flex-grow: 1;
    background-color: var(--pink-bkg);
    display: flex;
    align-items: center;
    padding: 0 0 0 92px;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__subtitle-pink {
    color: var(--pink-color);
}

.sales {
    display: flex;
    justify-content: space-between;
}

.sales__list {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.sales__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}   

.sales__item--wooman {
    background-image: url(../img/sales-wooman.png);
}

.sales__item--man {
    background-image: url(../img/sales-man.png);
}

.sales__item--kids {
    background-image: url(../img/sales-kids.png);
}

.sales__item--accesories {
    background-image: url(../img/sales-accesories.png);
    width: 100%;
    margin: 30px 0 0 0;
    min-height: 180px;
    background-repeat: no-repeat;
}

.sales__item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--white-color);
    text-transform: uppercase;
}

.sales__item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: var(--pink-color);
    text-transform: uppercase;
}

.products {
    text-align: center;
    padding: 97px 0 0 0;
}

.products__title {
    font-size: 30px;
    line-height: 36px;
    padding: 0 0 6px 0;
   
}

.products__subtitle {
    font-size: 14px;
    line-height: 17px;
    opacity: 0.5;
    color: var(--grey2-color)
}

.products__list {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 57px 0 0 0;
}
 .products__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--grey-color);
    margin: 0 0 30px 0;
 }

 .products__item-wrp {
    padding: 0 29px 0 17px;
    text-align: left;
}

.products__item-title {
    padding: 25px 0 13px 0;
    font-size: 13px;
    line-height: 16px;
}

.products__item-subtitle {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: var(--grey3-color);
    opacity: 0.5;

}

.products__item-price {
    padding: 18px 0 20px 0; 
    font-size: 16px;
    line-height: 19px;
    color: var(--pink-color);   
}

.bottom__products-wrp {
    margin-top: 32px;
}

.bottom__products {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--red-color);
    border: 1px solid var(--red2-color);
    text-decoration: none;
    padding: 14px 38px;
}

