
    $black: #222222;
    $black2-bkg: #222224;
    $black3-box-sadow: rgba(34, 60, 80, 0.6);
    $black4-bkg1: rgba(0, 0, 0, 0.4);
    $pink-bkg: #F1E4E6;
    $pink-color: #F16D7F;
    $white-color: #FFFFFF;
    $white2-color: #FBFBFB;
    $grey-color: #F8F8F8;
    $grey2-color: #9F9F9F;
    $grey3-color: #5D5D5D;
    $grey4-color: #6F6E6E;
    $grey4-bkg:  #E1E1E1;
    $red-color: #F26376;
    $red2-color: #FF6A6A;
    $red-red-bkg: red;
    $green-hover: rgba(173, 192, 6, 0.932);
